/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Raleway";
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Raleway", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #fff;
    text-align: center;
    background-color: #895c25;
}

.blog-footer a {
    color: #fff;
}
.blog-footer h5 {
    color: #3ca3a6;
}
.blog-footer a:hover {
    color: #3ca3a6;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.dropdown a {
    color: #895c25;
}
.dropdown-item {
    padding-left: 0px;
}
.dropdown-menu {
    border: 0px;
}
.dropdown-item:hover {
    color: #3ca3a6;
    background-color: unset;
}
.jumbotron {
    background-image: url("/bg_1.jpg");
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.jumbotron-heading {
    color: #3ca3a6;
}
.btn-primary {
    background-color: #FF8339;
    border-color: #FF8339;
}
.btn-primary:hover {
    background-color: #ff5b0b;
    border-color: #ff5b0b;
}

.nav-pills .nav-link.active {
    background-color: #FF8339;
}
a {
    color: #895c25;
}
a:hover {
    color: #3ca3a6;
}
i {
    padding: 0 10px 0 10px;
}
.pt-1, .py-1 {
    padding-top: 1.5rem !important;
}
.mb-2, .my-2 {
    margin-bottom: 2.8rem !important;
}
.nav-scroller {
    overflow-y: visible;
}
.mb-2, .my-2 {
    margin-bottom: 8rem !important;
}
@media (min-width: 576px) {
    .mb-2, .my-2 {
        margin-bottom: 2.8rem !important;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
}}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.list-social {
    font-size: 1.5rem;
}
.card-title {
    color: #3ca3a6;
    font-weight: 700;
}
.back-color {
    background-color: #fff;
    opacity: 0.8;
    padding-top: 30px;
}